<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ESTOS VAN FUERA DEL application SIEMPRE -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:label="nexxus"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <!-- aquí NO VAN PERMISOS -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>
</manifest>
